<div class="app">
  <header class="app-header">
    <h1 class="app__title">
      <app-link class-name="logo" href="https://angularjs.org"></app-link>
    </h1>
    <p class="app__sub-title">
      application made with <app-link href="https://github.com/pmarino84/create-ng-app">nguno</app-link> cli
    </p>
    <app-link class-name="goto-section" href="#guides">
      <svg width="32" height="32" viebox="0 0 32 32" stroke="#fff" stroke-width="4" fill="transparent">
        <path d="M 4 14 L 16 28 L 28 14" />
      </svg>
    </app-link>
  </header>
  <div id="guides" class="app-section app-section--guides">
    <h2 class="guides__title">Documentations</h2>
    <div class="guides">
      <app-link class-name="guide" href="https://docs.angularjs.org/guide">developer</app-link>
      <app-link class-name="guide" href="https://docs.angularjs.org/api">api</app-link>
    </div>
  </div>
</div>